---
import type { GetStaticPaths, Page } from 'astro'
import Paginator from '../components/Paginator.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { getLocalArticles, type Article } from '../utils/article'

export const getStaticPaths = (async ({ paginate }) => {
  return paginate(await getLocalArticles(), { pageSize: 10 })
}) satisfies GetStaticPaths

type Props = { page: Page<Article> }

const { page } = Astro.props
---

<BaseLayout>
  {
    page.data.map((article) => (
      <div class="px-4 sm:px-6 my-6">
        <h2 class="text-gray-900 text-2xl font-bold">
          <a href={article.path}>{article.title}</a>
        </h2>
        <div class="prose max-w-none mt-1" set:html={article.abstract} />
        <div class="text-gray-400 text-sm mt-2">
          <time lang="en-US">{article.dateTime.date}</time>
        </div>
      </div>
    ))
  }
  <Paginator {page} />
</BaseLayout>
