<header id="header">
  <img id="banner" class="lazy" data-src="/css/images/banner.webp" src="/css/images/banner-blur.webp"></img>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle || config.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle || config.subtitle %></a>
        </h2>
      <% } %>
    </div>
    <div id="header-inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        <a class="main-nav-link" href="/"><%= __('home') %></a>
        <a class="main-nav-link" href="/archives/"><%= __('archives') %></a>
        <div class="main-nav-link dropdown">
          专题
          <div class="dropdown-menu">
            <a class="dropdown-item-1" href="/cs50/">CS50</a>
            <a class="dropdown-item-2" href="/v2ray/">V2Ray</a>
          </div>
        </div>
        <a class="main-nav-link" href="https://me.moecm.com"><%= __('about') %></a>
      </nav>
      <button id="dark-switch" class="nav-icon" type="button"></button>
    </div>
  </div>
</header>
