---
import { SEO } from 'astro-seo'
import { ClientRouter } from 'astro:transitions'
import { fromHtml } from 'hast-util-from-html'
import { toText } from 'hast-util-to-text'
import ReturnButton from '../components/ReturnButton.astro'
import '../styles/font-han.css'
import '../styles/global.css'
import type { Article } from '../utils/article'
import type { Language } from '../utils/i18n'
import FooterLayout from './FooterLayout.astro'
import HeaderLayout from './HeaderLayout.astro'

interface Props {
  language: Language
  article?: Article
}

const { language, article } = Astro.props

function getTitle(base: string) {
  return article?.title?.concat(` | ${base}`) ?? base
}

const siteName = 'Daniel’s Blog'
const title = getTitle(siteName)
const description =
  article?.abstract !== undefined
    ? toText(fromHtml(article.abstract))
    : 'Here’s BioniCosmos.'
---

<html lang={language.lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/images/logo.png" />
    <SEO
      {title}
      {description}
      openGraph={{
        basic: {
          title,
          type: article !== undefined ? 'article' : 'website',
          image:
            Astro.url.origin +
            (article?.image !== undefined
              ? article.image.src
              : '/images/og-image.png'),
        },
        optional: { description, locale: language.lang, siteName },
        article: {
          publishedTime:
            article !== undefined
              ? new Date(article.dateTime.toString()).toISOString()
              : undefined,
          authors: article !== undefined ? ['Daniel Ding'] : undefined,
        },
      }}
    />
    <ClientRouter />
  </head>
  <body>
    <HeaderLayout currentLanguage={language} id={article?.id} />
    <main class="max-w-prose mx-auto xl:max-w-[80ch]">
      <slot />
    </main>
    <FooterLayout />
    <ReturnButton />
  </body>
</html>

<script is:inline>
  if (navigator.userAgent.includes('MicroMessenger')) {
    document.addEventListener('DOMContentLoaded', () => {
      document.open()
      document.write(`<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Forbidden</title>
  </head>
  <body>
    <h2>Please use other browsers to open this page.</h2>
    <h2>请使用其他浏览器打开此页面。</h2>
  </body>
</html>`)
      document.close()
    })
  }
</script>
